.header{
    background-image: url('https://images.creativemarket.com/0.1.0/ps/3697754/1820/1213/m1/fpnw/wm1/p1hmcmuq12mudyu3rcl25sw529wgp9nijndqae6vdzezw2hwk5epxrfjut6opsly-.jpg?1512594315&s=bef394142f0f7764d2eded2d981f9c38');
    height: 300px;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}
.title{
    color: whitesmoke;
    font-size: 60px;
}